*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
--themeColor1:cadetblue;
--themeColor2:#000;
--hoverColor:#ccc;
--shadowColor:#bbb;
--txtColor:#888;
}

html{
  font-family: 'Roboto', sans-serif;
  color:var(--txtColor);
}

/* Navigation */

.navbar {
  display: flex;
  justify-content: center;
  position:sticky;
  top:0;
  height: 7vh;
  min-height: 60px;
  margin-top: 50px;
  z-index: 3;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: var(--themeColor1);
  transition: 0.3s linear;
}

.navContainer.active {
  width: 100%;
  background-image: linear-gradient(to right, var(--themeColor2) 30%,var(--themeColor1));
}

.navContainer img {
  height: 100px;
  margin-left: 20px;
  border-radius: 5px;
}

.navContainer.active img {
  height: 6vh;
  margin-left: 100px;
  border: none;
}

.navContainer .navBtn {
  display: flex;
  list-style: none;
  margin-right: 50px;
}

.navBtn li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 7.5px;
  margin: 0 15px;
  transition: .5s;
}

.navBtn a::before {
  content:"";
  position: absolute;
  bottom: 0%;
  right:-50%;
  height: 1px;
  width:100%;
  background-color:none;
  transition: 0.5s;
}

.navBtn a:hover::before {
  content:"";
  right:0;
  background-color: #000;
}

.navBtn li a:hover {
  color:#000;
}

/* Burger */

.navbar .burger {
  display: none;
}

/* Logo mobile */

.slider .logoMobile {
  display: none;
}

/* Picture Slider*/

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 70vh;
}

.slider .slide {
  width: 50%;
  height: 90%;
  border: 10px solid white;
  box-shadow: 8px 8px 25px 2px var(--shadowColor);
}

/* Slider control */

.control {
  font-size: 40px;
  color: var(--txtColor);
  transition: 0.5s;
}

.control .arrowRight {
  position: absolute;
  right: 20%;
}

.control .arrowRight:hover {
  color: var(--hoverColor);
}

.control .arrowLeft {
  position: absolute;
  left: 20%;    
}

.control .arrowLeft:hover {
  color: var(--hoverColor);
}

/* Slider indicators */

.slider .indicators{
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  bottom: -1%;
  left:50%;
  transform: translateX(-50%);
  height: 10px;
  width: 40%;
} 

.indicators span {
  width: 40px;
  border: 1px solid #ccc;
}

.indicators span.active {
  width: 40px;
  background-color: rgba(80, 212, 221, 0.623);
}

/* Main content */

main.content{
  display: flex;
  justify-content: center;
}

.content .contentWrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
  "title title"
  "description agent"
  "book book";
  width: 80%;
  margin-top: 50px;
}

/* Property title */

.content .title {
  grid-area: title;
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  border-bottom: 2px solid var(--themeColor2);
}

.title .property{
  width: 60%;
  padding: 20px 0px 20px 40px;
  font-size: 23px;
  color: var(--themeColor2)
}

.title .ico {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  font-size: 30px;
  color:var(--themeColor2)
}

/* Description */

.content .description{
  grid-area: description;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.description .txt {
  text-align: justify;
  line-height: 1.6;
}

.description .txt p {
  margin-top: 20px;
}

.description .txt h5 {
  font-size: 18px;
  margin: 50px 0 25px;
}

.description .txt ul {
  list-style: none;  
}

/* Share */

.txt .share {
  width: 70%;
  margin-top: 50px;
  padding: 10px 0;
  text-transform: uppercase;
  border-top: 1px solid var(--themeColor2);
}

.txt .share a{
  font-size: 20px;
  color: #555;
  margin-right: 10px;
}

.txt .share a:hover{
  color: var(--hoverColor);
}

/* Agen section */

.content .agent{
  grid-area: agent;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
}

.agent .agentDetails{
  position: relative;
  text-align: center;
}

.agent .agentDetails img{
  width: 200px;
  margin: 15px;
  border-radius: 50%;
  border: 3px solid var(--themeColor1);
}

.agentDetails .agentContact {
  margin: 10px 0 5px 40px;
  text-align: left;
}

.agentContact i {
  margin-right:10px;
  line-height: 1.7;
}

/* Enquiry Form */

.agent .enquiry{
  width: 70%;
}

.enquiry form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.enquiry form h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

.enquiry input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--themeColor1);
}

.enquiry textarea {
  margin-top: 10px;
  padding: 7px;
  font-size: 17px;
  border-radius: 10px;
  border: 2px solid var(--themeColor1);
}

.enquiry button {
  margin-top: 10px;
  padding: 15px;
  font-size: 20px;
  color: white;
  background-color: var(--themeColor1);
  border-radius: 10px;
  border: 2px solid var(--themeColor1);
  cursor: pointer;
  transition: 0.5s;
}

.enquiry button:hover {
  color:var(--themeColor1);
  background-color: white;
}

/* Book section */

.content .book {
  grid-area: book;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  padding: 120px 0;
}

.book .booknow {
  position: relative;
  overflow: hidden;
  font-size: 40px;
  height: 200px;
  width: 150px;
  margin-top: 10px;
  text-align: center;
  background-color: var(--themeColor1);
  border-radius: 10px;
  box-shadow: 15px 15px 20px 0px var(--shadowColor);
}

.booknow i {
  position: absolute;
  top:20%;
  left:50%;
  transform: translateX(-50%);
  font-size: 70px;
  color: white;
  z-index: 1;
}

.booknow .cover {
  position: absolute;
  bottom:15%;
  left:50%;
  transform: translateX(-50%);
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.booknow .overlay {
  position: absolute;
  bottom:-100%;
  left:50%;
  transform: translateX(-50%);
  background-color: #ccc;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
}

.booknow:hover .overlay {
  bottom: 0;
}

.overlay .overlayTxt {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-transform: uppercase;
}

/* Map section */

section.map{
  height: 60vh;
}

.map iframe{
  width: 100%;
  height: 100%;
}

/* Social */

section.media{
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #ccc;
}

.media .mediaWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  line-height: 1.5;
}

.mediaWrapper .adress p {
  font-size: 23px;
}

.media .social {
  font-size: 30px;
  text-align: center;
  color: var(--themeColor1);
}

.media .social a {
  margin-right: 15px;
  color:#555;
}

.media .social a:hover {
  color:#999;
}

/* Footer */

footer {
  width: 100%;
  text-align: center;
  background-color: #000;
  box-shadow: 0px -7px 15px 10px white;
}

footer p {
  padding: 20px 0;
  text-transform: uppercase;
}


/******************************************* Media Queries**************************************************/

@media (max-height:1400px) {
  .slider .slide {
    width: 51%;
  }

  .control .arrowRight {
    right: 17%;
  }

  .control .arrowLeft {
    left: 17%;
  }

  .content .contentWrapper {
    margin-top: 10px;
  }
}


@media(max-width: 1270px) {

  /* Slider */

  .slider .slide {
    width: 80%;
  }


  .control .arrowRight {
    right: 3%;
  }

  .control .arrowLeft {
    left: 3%;
  }

  .slider .indicators{
    width: 80%;
  } 
  
  /* Main Content */

  .content .contentWrapper {
    width: 95%;
  }

  /* Content Title */

  .title .property{
    width: 90%;
    padding: 20px 0px;
    font-size: 18px;
    color: var(--themeColor2);
  }

  /* Main content - Form */
  .agent .enquiry{
    width: 85%;
  }
}

  /* Mobile - 1 column */

@media(max-width: 800px), (orientation: landscape) and (max-width:900px){
  
  /* Burger icon */

  .navbar .burger {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 55px;
    height: 35px;
    cursor: pointer;
    overflow: hidden;
  }

  .burger span {
    position: absolute;
    background-color: var(--themeColor2);
    width: 100%;
    height: 6px;
    border-radius: 28%;
    transition: .2s linear;
  }

  .burger span:nth-child(1) {
    left: 0;
    top: 0;
  }

  .burger.active span:nth-child(1) {
    left: 5px;
    transform-origin: 0% 50%;
    transform: rotate(33deg);
  }

  .burger span:nth-child(2) {
    top: calc(50% - 3px);
    left: 0;
  }

  .burger.active span:nth-child(2) {
    left: -60px;
  }

  .burger span:nth-child(3) {
    left: 0;
    bottom: 0;
  }

  .burger.active span:nth-child(3) {
    left: 5px;
    transform-origin: 0% 50%;
    transform: rotate(-33deg)
  }

  /* Mobile Navigation */

  .navbar {
    position: fixed;
    top: 0;
    left:-150%;
    height: 100vh;
    width: 100vw;
    margin-top: 0px;
    transition: 0.7s;
  }

  .navbar.active {
    position: fixed;
    top: 0;
    left:0%;
    margin-top: 0px;
  }
  
  .navContainer{
    flex-direction: column;
    justify-content: space-evenly;
    width:100%;
    background-image: linear-gradient(to right, var(--themeColor2) 30%, var(--themeColor1));
    opacity: 0.95;
  }
  
  .navContainer.active img {
    height: 10vh;
    margin-left: 0px;
  }

  .navContainer .navBtn {
    flex-basis: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0px;
  }

  .navBtn li a {
    font-size: 30px;
  }

  /* Logo Mobile */

  .slider .logoMobile {
    display: flex;
    align-items: center;
    position: absolute;
    top:2%;
    left: 3%;
    text-decoration: none;
    color: var(--themeColor1);
  }
  
  .slider .logoMobile img {
    width: 60px;
    height: 45px;
    margin-right: 10px;
    border-radius: 5px;
  }

  /*Slider*/

  .slider .slide {
    margin-top: 80px;
    width: 95%;
  }

  .slider .control {
    color: rgba(255,255,255,0.8);
  }

  .control .arrowRight {
    right: 7%;
  }

  .control .arrowLeft {
    left: 7%;
  }

  .slider .indicators{
    bottom: 3%;
    width: 80%;
  } 

  /* Main Content */
  
  .content .contentWrapper {
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "description"
    "agent"
    "book";
  }

  /* Title */

  .content .title {
    flex-direction: column;
    width: 100%;
  }

  .title .property{
    width: 100%;
    padding: 20px 0px;
  }

  .title .ico {
    width: 80%;
    margin-bottom: 20px;
  }

  /* Description */

  .content .description{
    margin-bottom: 50px;
    font-size: 15px;
  }

  /* Conten Book */

  .book .booknow {
    overflow: visible;
    margin: 10px 0 130px;
  }
  
  .booknow .overlay {
    bottom:-110%;
    border-radius: 10px;
    box-shadow: 15px 15px 20px 0px var(--shadowColor);
  }
   
  /* Media */

  section.media{
    height: auto;
  }
  
  .media .mediaWrapper {
    flex-direction: column;
    width: 100%;
    margin: 30px 0;
  }

  .media .social {
    font-size: 35px;
    margin-top: 20px;
  }

}

/* Mobile Landscape */

@media (orientation: landscape) and (max-width:900px){

  .slider .slide {
    margin: 90px 0 20px;
    width: 65%;
  }

  .slider .control {
    color: var(--txtColor);
  }

  .slider .indicators{
    bottom: 0%;
    width: 60%;
  } 
}